<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5">{{ .Params.Subtitle }}</h5>
        {{- if not .Params.hideLastModified -}}
        <h6 class="subtitle is-6 is-muted">{{- .Lastmod.Format "2 January 2006" -}}</h6>
        {{- end -}}
        <div class="divider"></div>
      </div>
    </div>

    {{ if .Params.include_toc }}
    <section class="section is-small">
      {{ .TableOfContents }}
    </section>
    <div class="divider"></div>
    {{ end }}
    <section class="section is-small md-content">
      {{ .Content }}
    </section>
  </div>
</section>