/* ==========================================================================
Responsive Styles
========================================================================== */

@media (max-width: 767px) {

    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .title.section-title {
        font-size: 2rem !important;
    }
    .level-left.level-social {
        display: flex;
        justify-content: flex-start;
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }

    .columns {
        flex-direction: column;
    }

    .reverse-flow {
        flex-direction: column-reverse !important;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }
    .is-centered-tablet-portrait {
        text-align: center !important;
        .divider {
            margin: 0 auto !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .navbar.is-fresh {
        position: relative;
        min-height: .8rem;
        transition: all .3s;
        z-index: 99;
        .container {
            min-height: 5rem;
        }
        &.no-shadow {
            box-shadow: none !important;
        }
        //Responsive menu icon
        .navbar-burger {
            width: 5rem;
            height: 5rem;
        }
        //Brand
        .navbar-brand {
            min-height: 5rem;
            img {
                max-height: 40px !important;
                height: 40px;
            }
            //Removing navbar item default hover behaviour
            &:hover {
                .navbar-item {
                    background: transparent !important;
                }
            }
        }
    }
}