/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.section {
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }

    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.vertically-center-content {
    display: flex; 
    flex-grow: 1; 
    justify-content: center; 
    align-items:center;
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

.media.icon-box.media-content-max-width {
        max-width: 35rem;
        align-items: center;
        // min-width: 20rem;
}

.mt-3rem + .mt-3rem {
    margin-top: 3rem !important;
}

//Icon box
.media.icon-box {
    border-top: none !important;

    .media-content .right-align {
        text-align:right;
    }
    .media-content {
        flex: 1;
    }

    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.icon-box-text {
    color: $title-grey;
    font-size: 1.3rem;
    font-weight: 400;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.media-box-icon {
    flex: 1;
    p img {
        max-height: 20rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-box-icon {
    flex-basis: 0;
    flex-grow: 0.7;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    p img {
        width: auto;
    }
}

// Common

a {
    color: $primary;
}

span.line {
    display: inline-block;
}