{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}

<div class="hero-body is-halfheight">
  <div class="container">
    <div class="columns is-hero reverse-flow">
      <!-- TEXT LEFT SIDE -->
      <div class="column is-6 landing-caption is-hero">
        <article class="media icon-box mt-3rem">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-1">{{ $title }}</h1>
              <p class="icon-box-text">
                {{ $subtitle | markdownify }}
              </p>
            </div>
          </div>
        </article>
      </div>
      <!-- IMAGE RIGHT SIDE -->
      {{ if ($image) }}
      <div class="column is-6 vertical-center is-hero">
        <article class="media icon-box">
          <figure class="media-right hero-box-icon">
            <p class="image">
              <img src="{{ printf "/images/illustrations/%s" $image | relURL }}" />
            </p>
          </figure>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</div>