{{- $hero        := .Site.Params.hero }}
{{- $clients := index $hero "clients" }}
<div class="hero-foot mb-20">
  <h4 class="title is-muted is-center is-4">Our Partners</h4>
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        {{- range $clients }}
        <li>
          <a href="{{ .link }}" target="_blank">
            <img class="partner-logo" src="{{ printf "/images/logos/clients/%s" .image | relURL }}" />
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>