{{- $hero       := .Site.Params.hero }}
{{- $titles      := index $hero "titles" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body is-halfheight">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-11 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{- range $titles }}
          <span class="line">{{ .title }}</span>
          {{- end }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-11 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        {{ with $buttonText }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ . }}
          </a>
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>