{{- $section2 := .Site.Params.section6 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
{{- $primarycolor := .Site.Params.colors.primary }}
{{- $secondarycolor := .Site.Params.colors.secondary }}
{{- $accentcolor := .Site.Params.colors.accent }}

<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="columns">
      {{ if or ($title) ($subtitle) }}
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      {{ end }}
      <div class="column is-7">
        {{- range $features }}
        <article class="media icon-box mt-3rem">
          {{ with .icon }}
          <figure class="media-left" style="padding-top: 0.2rem;">
            <!-- <i data-vi="{{ printf "%s" . }}" data-vi-primary="{{ printf "%s" $primarycolor }}"
              data-vi-accent="{{ printf "%s" $secondarycolor }}" data-vi-prop="{{ printf "%s" $accentcolor }}" data-vi-size="36"></i> -->
            <i data-vi="{{ printf "%s" . }}" data-vi-primary="ffb5d7" data-vi-accent="{{ printf "%s" $primarycolor }}"
              data-vi-size="36"></i>
          </figure>
          {{ end }}
          <div class="media-content">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text | markdownify }}</span>
                <span class="icon-box-text">{{ .text2 | markdownify }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>