{{- $sectionFeatures := .Site.Params.sectionFeatures }}
{{- $features := index $sectionFeatures "features" }}
{{- $primarycolor := .Site.Params.colors.primary }}
{{- $secondarycolor := .Site.Params.colors.secondary }}
{{- $accentcolor := .Site.Params.colors.accent }}

{{- range $index, $feature := $features }}
{{ if modBool $index 2 }}
<section class="section is-medium">
{{ else }}
<section class="section section-feature-grey is-medium">
{{ end }}
  <div class="container">
    {{ if modBool $index 2 }}
    <div class="columns reverse-flow">
      <div class="column is-6 mt-60 center-content is-vcentered">
        <article class="media icon-box icon-box-right">
          <figure class="media-right media-box-icon">
            <p class="image">
              <img src="{{ printf "/images/illustrations/%s" .image | relURL }}" />
            </p>
          </figure>
        </article>
      </div>
      <div class="column is-6 mt-60 center-content is-vcentered">
        <article class="media icon-box icon-box-right">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-3">{{ .title }}</h1>
              <p class="icon-box-title">{{ .description }}</p>
            </div>
          </div>
        </article>
      </div>
    </div>
      {{ else }}
    <div class="columns">
      <div class="column is-6 mt-60 center-content is-vcentered">
        <article class="media icon-box">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-3">{{ .title }}</h1>
              <p class="icon-box-title">{{ .description }}</p>
            </div>
          </div>
          </article>
      </div>
      <div class="column is-6 mt-60 center-content is-vcentered">
        <article class="media icon-box icon-box-right">
          <figure class="media-left media-box-icon">
            <p class="image">
              <img src="{{ printf "/images/illustrations/%s" .image | relURL }}" />
            </p>
          </figure>
        </article>
      </div>
      </div>
    {{ end }}
  </div>
</section>
{{- end }}