{{- $sectionFeatures := .Site.Params.sectionFeatures }}
{{- $features := index $sectionFeatures "features" }}

{{- range $index, $feature := $features }}
{{ if modBool $index 2 }}
<section class="section is-medium">
{{ else }}
<section class="section section-feature-grey is-small">
{{ end }}
  <div class="container">
    {{ if modBool $index 2 }}
    {{ partial "section-feature.html" (dict "feature" $feature "direction" "left") }}
    {{ else }}
    {{ partial "section-feature.html" (dict "feature" $feature "direction" "right") }}
    {{ end }}
  </div>
</section>
{{- end }}